{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}

<div class="container-fluid">
    <h2 class="my-4">Gestion des utilisateurs</h2>

    {% include 'partials/alert.html.twig' %}

    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th class="table-id-user">Id</th>
                <th class="table-email-user">Email</th>
                <th>Pseudo</th>
                <th class="table-slug-user">Slug</th>
                <th class="table-action-user">Rôle</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td class="table-id-user"><strong>{{ user.id }}</strong></td>
                <td class="table-email-user"><strong>{{ user.email }}</strong></td>
                <td>
                    <img src="{{ user.picture }}" alt="Avatar de {{ user.username }}" class="avatar-mini mr-2 table-picture-user">
                    <strong>{{ user.username }}</strong>
                </td>
                <td class="table-slug-user">{{ user.slug }}</td>
                <td>
                    {%  if user.getRoles()[0] == 'ROLE_ADMIN' %}
                        <h6>
                            <span class="badge badge-danger">
                                ADMINISTRATEUR
                            </span>
                        </h6>
                    {% elseif user.getRoles()[0] == 'ROLE_AUTHOR' %}
                        <h6>
                            <span class="badge badge-success">
                                AUTEUR
                            </span>
                        </h6>
                    {% elseif user.getRoles()[0] == 'ROLE_MODERATOR' %}
                        <h6>
                            <span class="badge badge-warning">
                                MODERATEUR
                            </span>
                        </h6>
                    {% elseif user.getRoles()[0] == 'ROLE_USER' %}
                        <h6>
                            <span class="badge badge-primary">
                                MEMBRE
                            </span>
                        </h6>
                    {%  endif %}
                </td>
                <td class="table-action-user">
                    <a href="{{ path('admin_users_show', {'id': user.id}) }}" class="btn btn-md btn-primary table-btn" title="Détails de l'utilisateur">
                        <i class="fas fa-user-tag"></i>
                    </a>
                    <a href="{{ path('admin_users_delete', {'id': user.id}) }}" class="btn btn-md btn-danger table-btn" title="Supprimer l'utilisateur">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            <tr class="table-action-responsive-user">
                <td>
                    <a href="{{ path('admin_users_show', {'id': user.id}) }}" class="btn btn-md btn-primary table-btn" title="Détails de l'utilisateur">
                        <i class="fas fa-user-tag"></i>
                    </a>
                    <a href="{{ path('admin_users_delete', {'id': user.id}) }}" class="btn btn-md btn-danger table-btn" title="Supprimer l'utilisateur">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="my-3 pagination justify-content-center">
        {{ knp_pagination_render(users) }}
    </div>

</div>

{% endblock %}
