{# Affichage d'un commentaire d'un topic #}

<div class="card my-3">
    {% set user = comment.user %}
    <div class="card-body">
        <div class="row">
            <div class="col-2 text-center border-right">
                {% if user.picture is empty %}
                    <img src="http://image.jeuxvideo.com/avatar-md/default.jpg" alt="Image de profil par défaut" class="avatar"> 
                {% else %}
                    <img src="{{ user.picture }}" alt="Avatar de {{ user.username }}" class="avatar">
                {% endif %}

                <div class="col">
                    {%  if user.getRoles()[0] == 'ROLE_ADMIN' %}
                        <span class="badge badge-danger mt-3">
                            ADMINISTRATEUR
                        </span>
                    {% elseif user.getRoles()[0] == 'ROLE_AUTHOR' %}
                        <span class="badge badge-success mt-3">
                            AUTEUR
                        </span>
                    {% elseif user.getRoles()[0] == 'ROLE_MODERATOR' %}
                        <span class="badge badge-warning mt-3">
                            MODERATEUR
                        </span>
                    {% elseif user.getRoles()[0] == 'ROLE_USER' %}
                        <span class="badge badge-primary mt-3">
                            MEMBRE
                        </span>
                    {% endif %}

                    <span class="badge orange accent-3">{{ user.commentTopics | length }} commentaires</span>
                    <small class="text-muted">Inscrit le {{ user.createdAt | date('d/m/Y') }}</small>
                </div>
                            
            </div>
            <div class="col">
                <div class="col">
                    <div class="row">
                        <h6 class="mb-0">
                            <a href="{{ path('user_show', {'slug': user.slug}) }}" class="font-weight-bold">{{ user.username }}</a>
                            <small class="">le {{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt | date('H:i') }}</small>
                            {% if app.user and app.user == comment.getUser() %}
                                <a href="{{ path('comment_topic_edit', {'id': comment.id}) }}" class="text-primary ml-2" title="Modifier le commentaire"><i class="fas fa-edit"></i></a>
                            {% endif %}
                        </h6>       
                    </div> 
                </div>
                <div class="col pt-2 pb-2 pl-0">
                    <p class="mb-0">{{ comment.content | raw }}</p>
                </div>
            </div>  
        </div>
        {% if comment.modifiedAt is not empty %}
            <small class="float-right text-muted">Modifié le {{ comment.modifiedAt | date('d/m/Y') }} à {{ comment.modifiedAt | date('H:i') }}</small>  
        {% endif %}
    </div>
</div>