<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark blue accent-2">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fas fa-beer"></i>
            La <strong class="orange-text">Taverne</strong> du <strong class="orange-text">JV</strong> 
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actualité
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="{{ path('article_test') }}">Test</a>
                        <a class="dropdown-item" href="{{ path('article_preview') }}">Preview</a>
                        <a class="dropdown-item" href="{{ path('article_news') }}">News</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Forum
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="#">Playstation 4</a>
                        <a class="dropdown-item" href="#">Switch</a>
                        <a class="dropdown-item" href="#">Xbox One</a>
                        <a class="dropdown-item" href="#">PC</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tous les forums</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                            <img src="{{ app.user.picture }}" class="avatar avatar-micro" alt="Avatar de {{ app.user.username }}">
                            {{ app.user.username }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
                            <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('account_register') }}" class="nav-link" href="#">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('account_login') }}" class="nav-link" href="#">Connexion</a>
                    </li>
                {% endif %}      
            </ul>
        </div>

    </div>
</nav>
<!--/.Navbar -->