{# Page de gestion des commentaires modérés des articles #}

{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des commentaires modérés d'article{% endblock %}

{% block body %}

<div class="container-fluid">
    <h2 class="my-4">
        <a href="{{ path('admin_comment_article_index') }}" class="mr-2" title="Retour à la liste des commentaires">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
        Gestion des commentaires modérés d'article
    </h2>

    {% include 'partials/alert.html.twig' %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th>Article</th>
                <th>Date de création</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for comment in comments %}
            {% set user = comment.user %}
            <tr>
                <td><strong>{{ comment.id }}</strong></td>
                <td>
                    <img src="{{ user.picture }}" alt="Avatar de {{user.username }}" class="avatar avatar-micro mr-2">
                    <strong>{{ user.username }}</strong>
                </td>
                <td>{{ comment.content | raw | slice(3, 50)}}</td>
                <td>{{ comment.article.title }}</td>
                <td>{{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt | date('H:i') }}</td>
                <td class="text-danger font-weight-bold">{{ comment.moderation.statut }}</td>
                <td>
                    <a href="{{ path('admin_comment_article_show', {'id': comment.id}) }}" class="btn btn-md btn-primary" title="Détails du commentaire">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_comment_article_delete', {'id': comment.id}) }}" class="btn btn-md btn-danger" title="Supprimer le commentaire">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="my-3 pagination justify-content-center">
        {{ knp_pagination_render(comments) }}
    </div>

</div>

{% endblock %}
