{# Rubrique des 3 derniers tests #}
<div class="card mt-3">
    <h2 class="card-header red text-white h3 font-weight-light"><i class="fas fa-angle-down"></i> Les derniers tests</h2>
    <ul class="list-group">
        {% for test in tests | slice(0, 3) %}
        <li class="list-group-item">
            <img src="{{ test.coverImage }}" alt="Image de {{ test.title }}" class="img-fluid rounded">
            <div class="row mt-2">
                <div class="col-4 d-flex">
                    {% for subcategory in test.subcategories %}
                    <small class="card-text text-muted">
                        <span class="badge {{ subcategory.style }} mr-1">{{ subcategory.title }}</span>                                         
                    </small>
                    {% endfor %}
                </div>
                <div class="col-8">
                    <p class="mb-0"><a href="{{ path('article_show', {'slug': test.slug}) }}">{{ test.title }}</a></p>
                </div>
            </div>                        
        </li>
        {% endfor %}
    </ul>
</div>