{# Page de détails d'un commentaire d'un topic #}

{% extends 'admin/base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}

<div class="container-fluid">
    <h2 class="my-4">
        <a href="{{ path('admin_topics_index') }}" class="mr-2" title="Retour à la liste des topics">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
        Liste des commentaires
    </h2>

    {% include('partials/alert.html.twig') %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="table-topic-comment-id">Id</th>
                <th>Commentaire</th>
                <th class="table-topic-comment-auteur">Auteur</th>
                <th class="table-topic-comment-date">Date de création</th>
                <th>Statut</th>              
                <th class="table-action-topic-comment">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for comment in comments %}
            {% set user = comment.user %}
            {% set topic = comment.topic %}
            <tr>
                <td class="table-topic-comment-id"><strong>{{ comment.id }}</strong></td>
                <td>{{ comment.content | raw | slice(0, 50) }} ...</td>
                <td class="table-topic-comment-auteur">
                    <img src="{{ user.picture }}" alt="Avatar de {{ user.username }}" class="avatar avatar-micro mr-2 table-topic-comment-image">
                    <strong>{{ user.username }}</strong>
                </td>
                <td class="table-topic-comment-date">{{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt | date('H:i') }}</td>
                    {% if comment.moderation.statut == "Commentaire publié" %}
                        <td class="font-weight-bold text-success">{{ comment.moderation.statut }}</td>
                    {% elseif comment.moderation.statut == "Commentaire signalé" %}
                        <td class="font-weight-bold text-danger">{{ comment.moderation.statut }}</td>
                    {% elseif comment.moderation.statut == "Commentaire modéré" %}
                        <td class="font-weight-bold text-warning">{{ comment.moderation.statut }}</td>
                    {% endif %}
                <td class="table-action-topic-comment">
                    <a href="{{ path('admin_topics_comments_edit', {'idTopic': topic.id, 'idComment': comment.id}) }}" class="btn btn-md btn-primary table-btn" title="Modifier le commentaire">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_topics_comments_delete', {'idTopic': topic.id, 'idComment': comment.id}) }}" class="btn btn-md btn-danger table-btn" title="Supprimer le commentaire">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            <tr class="table-action-topic-comment-responsive">
                <td>
                    <a href="{{ path('admin_topics_comments_edit', {'idTopic': topic.id, 'idComment': comment.id}) }}" class="btn btn-md btn-primary table-btn" title="Modifier le commentaire">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_topics_comments_delete', {'idTopic': topic.id, 'idComment': comment.id}) }}" class="btn btn-md btn-danger table-btn" title="Supprimer le commentaire">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="my-3 pagination justify-content-center">
        {{ knp_pagination_render(comments) }}
    </div>

</div>

{% endblock %}