{# Page d'affichage d'un article et de ses commentaires #}

{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Taverne du JV{% endblock %}

{% block body %}

    <div class="container white pb-3 shadow-lg">

        {% include 'partials/alert.html.twig' %}

        <div class="row">
        
            <div class="col-lg-8 col-md-12">
                {% set category = article.category %}
                <h2 class="card-header orange accent-3 text-white mt-3 mb-3 h3 font-weight-light">
                    <span class="{{ category.style }}">{{ category.title }}</span> |
                    {% for subcategory in article.subcategories %}
                        <span class="{{ subcategory.style }}">{{ subcategory.title }}</span>
                    {% endfor %}
                    {{ article.title }}  
                </h2>

                <img src="{{ article.coverimage }}" alt="Image de {{ article.title }}" class="img-fluid">

                <p class="font-weight-bold mt-3"><strong>{{ article.introduction }}</strong></p>

                <p>{{ article.content | raw }}</p>

                <br>

                <div class="row">
                    {% set author = article.author %}
                    <div class="col-1 img-author-article">
                        <img src="{{ author.picture }}" class="avatar avatar-medium" alt="Avatar de {{ author.username }}">
                    </div>
                    <div class="col-lg col-md col-sm-12 article-author">
                        <h5 class="mb-0">
                            Article écrit par 
                            <a href="{{ path('user_show', {'slug': author.slug}) }}"><strong>{{ author.username }}</strong></a>
                            {% if article.modifiedAt %}
                                <small class="text-muted">modifié le {{ article.modifiedAt | date('d/m/Y') }} à {{ article.modifiedAt | date('H:i') }}</small>
                            {% else %}
                                <small class="text-muted">le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</small>
                            {% endif %}    
                            {% if app.user and app.user == article.author %}
                                <a href="{{ path('article_edit', {'slug': article.slug}) }}" class="" title="Modifier l'article">
                                    <i class="fas fa-edit"></i>
                                </a>
                            {% endif %}
                        </h5>
                        <span class="badge badge-primary">{{ author.articles | length }} articles</span>
                        <span class="badge orange accent-3">{{ author.commentArticle | length }} messages</span>
                    </div>
                </div>

                <hr>

                <h3 class="espace-comment">Espace des commentaires</h3>

                {% include 'article/comment/create.html.twig' %}
                
            </div>

            <div class="col-lg-4 col-right">
                {% include 'partials/col_right/last_tests.html.twig' %}
                {% include 'partials/col_right/last_previews.html.twig' %}
                {% include 'partials/col_right/forums.html.twig' %}
            </div>

        </div>

    </div>

{% endblock %}