{# Page d'un forum du site #}

{% extends 'base.html.twig' %}

{% block title %}Forum {{ forum.title }}{% endblock %}

{% block body %}

<div class="container white py-3 shadow-lg">

    <div class="card mt-4 mb-4">

        <!-- Titre du forum -->
        <h3 class="card-header text-white {{ forum.platformStyle }}">
            <a href="{{ path('forum_index') }}" class="text-white" title="Retour à la liste des forums">
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            |
            <i class="{{ forum.platformLogo }}"></i> 
            Forum {{ forum.title }}
        </h3>

        <div class="card-header">
            <span class="topic-head-sujet font-weight-bold">SUJET</span> 
            <span class="topic-head-auteur font-weight-bold">AUTEUR</span>
            <span class="topic-head-nb-message font-weight-bold">NB</span> 
            <span class="topic-head-dernier-msg font-weight-bold">DERNIER MSG</span> 
        </div>

        <!-- Liste des topics -->
        <ul class="list-group list-group-flush">
            {% for topic in topics %}
            {% set user = topic.user %}
                <li class="list-group-item p-2">
                        <!-- Titre du topic -->
                        <span class="topic-sujet"><a href="{{ path('topic_show', {'slugForum': topic.forum.slug, 'id': topic.id,'slugTopic': topic.slug}) }}">{{ topic.title }}</a></span>
                        <!-- Auteur du topic -->
                        {%  if user.getRoles()[0] == 'ROLE_ADMIN' %}
                            <span class="topic-auteur text-danger">{{ user.username }}</span>
                        {% elseif user.getRoles()[0] == 'ROLE_AUTHOR' %}
                            <span class="topic-auteur text-success">{{ user.username }}</span>
                        {% elseif user.getRoles()[0] == 'ROLE_MODERATOR' %}
                            <span class="topic-auteur text-warning">{{ user.username }}</span>
                        {% else %}
                            <span class="topic-auteur">{{ user.username }}</span>
                        {%  endif %}
                        <!-- Nombre de message du topic -->
                        <span class="topic-nb-message">{{ topic.commentTopic | length }}</span>
                        {% if topic.lastMsg is empty %}
                            <!-- Date du premier message du topic -->
                            <span class="topic-dernier-msg small">{{ topic.createdAt | date('d/m/Y') }} {{ topic.createdAt | date('H:i') }}</span>
                        {% else %}
                            <!-- Date du dernier message du topic -->
                            <span class="topic-dernier-msg small">{{ topic.lastMsg | date('d/m/Y') }} {{ topic.lastMsg | date('H:i') }}</span>
                        {% endif %}
                </li>
            {% endfor %}      
        </ul>

    </div>

    <!-- Pagination -->
    <div class="my-3 pagination justify-content-center">
        {{ knp_pagination_render(topics) }}
    </div>

    {% if app.user %}
    <div class="alert blue-grey lighten-5">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Créer le topic</button>
        </div>
        
        {{ form_end(form) }}
    </div>
    {% else %}
        <div class="alert alert-warning">
            <h5 class="mb-0"><a href="{{ path('account_login') }}">Connectez-vous</a> pour pouvoir écrire un commentaire !</h5>
        </div>
    {% endif %}

</div>

{% endblock %}